<html>
<head>
<title>Python Flask SQLAlchemy Pagination with Search LIKE, Equals, IN, AND and OR - Datatable</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="/static/docs/css/jq.css" rel="stylesheet">

<!-- jQuery: required (tablesorter works with jQuery 1.2.3+) -->
<script src="/static/docs/js/jquery-1.2.6.min.js"></script>

<!-- Pick a theme, load the plugin & initialize plugin -->
<link href="/static/dist/css/theme.default.min.css" rel="stylesheet">
<script src="/static/dist/js/jquery.tablesorter.min.js"></script>
<script src="/static/dist/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="/static/plugins/jquery-3.2.1.js"></script>
    <script src="/static/js/min.js"></script>

    <script>
	$(function(){
		$('table').tablesorter({
			widgets        : ['zebra', 'columns'],
			usNumberFormat : false,
			sortReset      : true,
			sortRestart    : true
		});
	});
	</script>
</head>
<body>

<div id="loading">
    <div class="gif">
        <img src="/static/img/loader.gif">
    </div>
</div>

<div class="container">
 <p><h2>Python Flask SQLAlchemy Pagination with Search LIKE, Equals, IN, AND and OR - Datatable</h2>  </p>
 <div class="row">
  <div class="col-8">
  <strong>Search For : {{ tag}}</strong>
  </div>
  <div class="col-4">
   <form action="" method="post" autocomplete="off">
   <div class="row">
    <div class="col-6">
    <input type="text" class="form-control" name="tag" id="tag"  placeholder="Enter keyword"/>
    </div>
    <div class="col-6" align="left">
    <input type="submit" value="Search" class="form-control btn btn-primary " name="">
    </div>
   </form>
   </div>
  </div>
 </div>
<div class="row">
<div class="col-12">
  <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th><input type="checkbox" onclick="checkAll(this)"></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
  {% for employee in employees.items %}
  <tr>
                <td>{{ employee.id}}</td>
                <td>{{ employee.fullname}}</td>
                <td>{{ employee.position}}</td>
                <td>{{ employee.office}}</td>
                <td>{{ employee.age}}</td>
                <td>{{ employee.startdate}}</td>
                <td>{{ employee.salary}}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
  </table>
   <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if employees.has_prev %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('index', page=employees.prev_num) }}">Previous</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                    {% endif %}

     {% for page in employees.iter_pages(left_edge=3, right_edge=3) %}
     {% if page %}

      {% if page==employees.page %}
       <li class="page-item active"><a class="page-link" href="{{ url_for('index', page=page) }}">{{ page }}</a></li>
      {% else %}
       <li class="page-item"><a class="page-link" href="{{ url_for('index', page=page) }}">{{ page }}</a></li>
      {% endif %}

     {% else %}
      <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
     {% endif %}
     {% endfor %}

                    {% if employees.has_next %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('index', page=employees.next_num) }}">Next</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                    {% endif %}

                </ul>
    </nav>
 </div>
 </div>

</div>
<style>
table{
    width:100%;
}
#example_filter{
    float:right;
}
#example_paginate{
    float:right;
}
label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;

}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
</style>
<script>
function checkAll(bx) {
  var cbs = document.getElementsByTagName('input');
  for(var i=0; i < cbs.length; i++) {
    if(cbs[i].type == 'checkbox') {
      cbs[i].checked = bx.checked;
    }
  }
}
</script>
</body>
</html>
