<script src="//unpkg.com/vue@2/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.15.10/lib/index.js"></script>
<div id="app">
<template>
  <el-table
    :data="tableData"
    stripe
    style="width: 100%">
    <el-table-column
      prop="date"
      label="日期"
      width="180">
    </el-table-column>
    <el-table-column
      prop="name"
      label="姓名"
      width="180">
    </el-table-column>
    <el-table-column prop="img" label="photo">
   <template v-slot="scope">
      <img :src="scope.row.img" alt="" width="90" height="90">
   </template>
   </el-table-column>
    <el-table-column
      prop="address"
      label="地址">
    </el-table-column>
  </el-table>
</template>
</div>

@import url("//unpkg.com/element-ui@2.15.10/lib/theme-chalk/index.css");

var Main = {
    data() {
      return {
        tableData: [{
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          img: 'https://people.ucas.ac.cn/self/img/19dea399-719b-42ac-9a7a-0c0ad22da7cf.JPG'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1517 弄',
          img: 'https://people.ucas.ac.cn/self/img/19dea399-719b-42ac-9a7a-0c0ad22da7cf.JPG'
        }, {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1519 弄',
          img: 'https://people.ucas.ac.cn/self/img/19dea399-719b-42ac-9a7a-0c0ad22da7cf.JPG'
        }, {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1516 弄',
          img: 'https://people.ucas.ac.cn/self/img/19dea399-719b-42ac-9a7a-0c0ad22da7cf.JPG'
        }]
      }
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')