<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <script type="text/javascript" src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css">
    <link rel="stylesheet" type="text/css" href="../static/css/eskape.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-toc.min.css">
    <script src = "../static/js/bootstrap-toc.min.js"></script>

</head>

<style type="text/css">
	.pace .pace-progress {
	  background: #1E92FB; /*进度条颜色*/
	  height: 3px;
	}
	.pace .pace-progress-inner {
	  box-shadow: 0 0 10px #1E92FB, 0 0 5px     #1E92FB; /*阴影颜色*/
	}
	.pace .pace-activity {
	  border-top-color: #1E92FB;    /*上边框颜色*/
	  border-left-color: #1E92FB;    /*左边框颜色*/
	}

	#navbar a{
	  color: #FAFAFA;
	}
	div {
	  text-align: justify;
	}
</style>

<body>
  <img src='../static/image/ESKtides.png'>
  <!--Navigator-->
  <nav class="navbar navbar-inverse navbar-static-top bg-dark">
    <div class="container">
      <div class="navbar-header">
           <a class="navbar-brand" href="/ESKtides">ESKtides</a>
		   
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
       <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li><a href="/ESKtides">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Browse Genome<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li class="dropdown-header">ESKAPE strains</li>
              <li><a href="/strains1.html?strains=Staphylococcus_aureus">Staphylococcus aureus</a></li>
              <li><a href="/strains1.html?strains=Enterococcus_Faecium">Enterococcus Faecium</a></li>
              <li><a href="/strains1.html?strains=Klebsiella_pneumoniae">Klebsiella pneumoniae</a></li>
              <li><a href="/strains1.html?strains=Acinetobacter_baumannii">Acinetobacter baumannii</a></li>
			  <li><a href="/strains1.html?strains=Pseudomonas_aeruginosa">Pseudomonas aeruginosa</a></li>
			  <li><a href="/strains1.html?strains=Enterobacter_aerogenes">Enterobacter aerogenes</a></li>
			  <li><a href="/strains1.html?strains=Enterobacter_cloacae">Enterobacter cloacae</a></li>
			  <li><a href="/strains1.html?strains=Escherichia_coli">Escherichia coli</a></li>


              <li class="divider"></li>
              <li class="dropdown-header">ESKAPE phages</li>
			  <li><a href="/strains1.html?strains=Staphylococcus_aureus_phages">Staphylococcus aureus phages</a></li>
              <li><a href="/strains1.html?strains=Enterococcus_Faecium_phages">Enterococcus Faecium phages</a></li>
              <li><a href="/strains1.html?strains=Klebsiella_pneumoniae_phages">Klebsiella pneumoniae phages</a></li>
              <li><a href="/strains1.html?strains=Acinetobacter_baumannii_phages">Acinetobacter baumannii phages</a></li>
			  <li><a href="/strains1.html?strains=Pseudomonas_aeruginosa_phages">Pseudomonas aeruginosa phages</a></li>
			  <li><a href="/strains1.html?strains=Escherichia_coli_phages">Escherichia coli phages</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Browse Peptides<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li class="dropdown-header">ESKAPE strains</li>
              <li><a href="/peptide.html?strains=Staphylococcus_aureus">Staphylococcus aureus</a></li>
              <li><a href="/peptide.html?strains=Enterococcus_Faecium">Enterococcus Faecium</a></li>
              <li><a href="/peptide.html?strains=Klebsiella_pneumoniae">Klebsiella pneumoniae</a></li>
              <li><a href="/peptide.html?strains=Acinetobacter_baumannii">Acinetobacter baumannii</a></li>
			  <li><a href="/peptide.html?strains=Pseudomonas_aeruginosa">Pseudomonas aeruginosa</a></li>
			  <li><a href="/peptide.html?strains=Enterobacter_aerogenes">Enterobacter aerogenes</a></li>
			  <li><a href="/peptide.html?strains=Enterobacter_cloacae">Enterobacter cloacae</a></li>
			  <li><a href="/peptide.html?strains=Escherichia_coli">Escherichia coli</a></li>


              <li class="divider"></li>
              <li class="dropdown-header">ESKAPE phages</li>
			  <li><a href="/peptide.html?strains=Staphylococcus_aureus_phages">Staphylococcus aureus phages</a></li>
              <li><a href="/peptide.html?strains=Enterococcus_Faecium_phages">Enterococcus Faecium phages</a></li>
              <li><a href="/peptide.html?strains=Klebsiella_pneumoniae_phages">Klebsiella pneumoniae phages</a></li>
              <li><a href="/peptide.html?strains=Acinetobacter_baumannii_phages">Acinetobacter baumannii phages</a></li>
			  <li><a href="/peptide.html?strains=Pseudomonas_aeruginosa_phages">Pseudomonas aeruginosa phages</a></li>
			  <li><a href="/peptide.html?strains=Escherichia_coli_phages">Escherichia coli phages</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Analysis<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/predict.html">Peptides activity Prediction</a></li>
                <li><a href="/phylotree.html">Peptides Phylogenetic tree</a></li>
                <li><a href="/property.html">Physicochemical property</a></li>
            </ul>
        </li>
        <li><a href="/statistics.html">Statistics</a></li>
        <li><a href="/download.html">Download</a></li>
        <li><a href="/help.html">Help</a></li>
      </ul>
    </div>
  </nav>
<!-- Page Content-->
<br>
<br>
<!-- Page Content-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class = "col-md-2">
        <nav id = "toc" data-spy = "affix">
        </nav>
      </div>
      <div class="col-md-10">
        <h3>1. Browse Genome</h3>
				<!-- <hr style="border-top:1px dashed #1E90FF"> -->
				<div class = 'well'>
					<p>&emsp;The ESKtides provided a user-friendly browse mode in which users can browse by strains or phage types,
                        in each table users can search strains accession, genome length, ORF number and download CDS protein fasta.
                        Users can click the drop-down menu or click detail to see annotation detail.</p>
          <br>
          <img src="../static/image/fig1.png" class="img-responsive img-rounded" alt = 'browse illustration image'>
	      </div>

        <h3>2. Browse Peptides</h3>
        <!-- <hr style="border-top:1px dashed #1E90FF"> -->
				<div class = 'well'>
					<p>&emsp;Currently, two activity level mode are provided in ESKtides: (A).
                        <span class="badge">High level</span> and (B).<span class="badge">Medium level</span>.
                        In High level, users can obtain activity score which is more than 0.9,
                        while in Medium level, users can obtain activity score which is within 0.5-0.9.</p>
					<br>								   
					<img src="../static/image/fig2.png" class="img-responsive img-rounded" alt = 'search illustration image'>
				</div>
								
				<h3>3. Analysis</h3>
				<!-- <hr style="border-top:1px dashed #1E90FF"> -->
				<div class = "well">
					<p>&emsp;Users can use online analysis <span class="badge">Peptides activity Prediction</span>: mining peptides and score it,
                        <span class="badge">Peptides Phylogenetic tree</span> and calculating
                        <span class="badge">Physicochemical property</span>
                    </p>
					<br> 
					<img src="../static/image/fig3.png" class="img-responsive img-rounded" alt = 'detail illustration image'>
				</div>

        <h3>4. Statistics</h3>
				<!-- <hr style="border-top:1px dashed #1E90FF"> -->
				<div class = "well">
					<p>&emsp;This page provides basic statistical charts including (A). ESKAPE strains summary,
                        (B). ESKAPE phages summary, (C). ESKAPE strains derived peptides activities distribution,
                        (D). ESKAPE phages derived peptides activities distribution.</p>
					<br> 
					<img src="../static/image/fig4.png" class="img-responsive img-rounded" alt = 'statistics illustration image'>
				</div>

        <h3>5. Download</h3>
				<!-- <hr style="border-top:1px dashed #1E90FF"> -->
				<div class = "well">
					<p>&emsp;In download page, users can download all biomarker information or download specific information.</p>
					<br> 
					<img src="../static/image/fig5.png" class="img-responsive img-rounded" alt = 'download illustration image'>
				</div>

        <h3>6. Help</h3>
				<!-- <hr style="border-top:1px dashed #1E90FF"> -->
				<div class = "well">
					<div class = 'row'>
            <div class = 'col-xs-3'>
              <p>&emsp;<i class = 'fas fa-map-marker-alt'></i> Address</p>
            </div>
            <div class = 'col-xs-9'>
              <p>No.1,Shizishan Street · Hongshan District · Wuhan · Hubei Province · 430070 · P.R.China.</p>
            </div>
          </div>
          <div class = 'row'>
            <div class = 'col-xs-3'>
              <p>&emsp;<i class = 'fa fa-envelope'></i> Email</p>
            </div>
            <div class = 'col-xs-9'>
              <p><a href="mailto:mchen@zju.edu.cn">Jinquan Li</a></p>
            </div>
          </div>
          <div class = 'row'>
            <div class = 'col-xs-3'>
              <p>&emsp;<i class = 'fa fa-phone'></i> Phone</p>
            </div>
            <div class = 'col-xs-9'>
              <p>+86 87281181</p>
            </div>
          </div>
				</div>
      </div>
    </div>
  </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Firefox & Chrome recommended.<br />
      &copy; All rights reserved by <a target="_blank" href="https://lijinquanlab.github.io/index.html">Jinquan Li's Lab</a>, HZAU.</p>
  </div>
</footer>

<script type="text/javascript">
  $(function(){
    Toc.init($('#toc'));
  })
</script>
</body> 
</html> 