<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Analysis</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

    <script type="text/javascript" src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css">
    <link rel="stylesheet" type="text/css" href="../static/css/eskape.css">
</head>

<style type="text/css">
	.pace .pace-progress {
	  background: #1E92FB; /*进度条颜色*/
	  height: 3px;
	}
	.pace .pace-progress-inner {
	  box-shadow: 0 0 10px #1E92FB, 0 0 5px     #1E92FB; /*阴影颜色*/
	}
	.pace .pace-activity {
	  border-top-color: #1E92FB;    /*上边框颜色*/
	  border-left-color: #1E92FB;    /*左边框颜色*/
	}

	#navbar a{
	  color: #FAFAFA;
	}
	div {
	  text-align: justify;
	}
</style>

<body>
 <img src='../static/image/ESKtides.png'>
  <!--Navigator-->
  <nav class="navbar navbar-inverse navbar-static-top bg-dark">
    <div class="container">
      <div class="navbar-header">
           <a class="navbar-brand" href="/ESKtides">ESKtides</a>
		   
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
       <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li><a href="/ESKtides">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Browse Genome<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li class="dropdown-header">ESKAPE strains</li>
              <li><a href="/strains1.html?strains=Staphylococcus_aureus">Staphylococcus aureus</a></li>
              <li><a href="/strains1.html?strains=Enterococcus_Faecium">Enterococcus Faecium</a></li>
              <li><a href="/strains1.html?strains=Klebsiella_pneumoniae">Klebsiella pneumoniae</a></li>
              <li><a href="/strains1.html?strains=Acinetobacter_baumannii">Acinetobacter baumannii</a></li>
			  <li><a href="/strains1.html?strains=Pseudomonas_aeruginosa">Pseudomonas aeruginosa</a></li>
			  <li><a href="/strains1.html?strains=Enterobacter_aerogenes">Enterobacter aerogenes</a></li>
			  <li><a href="/strains1.html?strains=Enterobacter_cloacae">Enterobacter cloacae</a></li>
			  <li><a href="/strains1.html?strains=Escherichia_coli">Escherichia coli</a></li>


              <li class="divider"></li>
              <li class="dropdown-header">ESKAPE phages</li>
			  <li><a href="/strains1.html?strains=Staphylococcus_aureus_phages">Staphylococcus aureus phages</a></li>
              <li><a href="/strains1.html?strains=Enterococcus_Faecium_phages">Enterococcus Faecium phages</a></li>
              <li><a href="/strains1.html?strains=Klebsiella_pneumoniae_phages">Klebsiella pneumoniae phages</a></li>
              <li><a href="/strains1.html?strains=Acinetobacter_baumannii_phages">Acinetobacter baumannii phages</a></li>
			  <li><a href="/strains1.html?strains=Pseudomonas_aeruginosa_phages">Pseudomonas aeruginosa phages</a></li>
			  <li><a href="/strains1.html?strains=Escherichia_coli_phages">Escherichia coli phages</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Browse Peptides<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li class="dropdown-header">ESKAPE strains</li>
              <li><a href="/peptide.html?strains=Staphylococcus_aureus">Staphylococcus aureus</a></li>
              <li><a href="/peptide.html?strains=Enterococcus_Faecium">Enterococcus Faecium</a></li>
              <li><a href="/peptide.html?strains=Klebsiella_pneumoniae">Klebsiella pneumoniae</a></li>
              <li><a href="/peptide.html?strains=Acinetobacter_baumannii">Acinetobacter baumannii</a></li>
			  <li><a href="/peptide.html?strains=Pseudomonas_aeruginosa">Pseudomonas aeruginosa</a></li>
			  <li><a href="/peptide.html?strains=Enterobacter_aerogenes">Enterobacter aerogenes</a></li>
			  <li><a href="/peptide.html?strains=Enterobacter_cloacae">Enterobacter cloacae</a></li>
			  <li><a href="/peptide.html?strains=Escherichia_coli">Escherichia coli</a></li>


              <li class="divider"></li>
              <li class="dropdown-header">ESKAPE phages</li>
			  <li><a href="/peptide.html?strains=Staphylococcus_aureus_phages">Staphylococcus aureus phages</a></li>
              <li><a href="/peptide.html?strains=Enterococcus_Faecium_phages">Enterococcus Faecium phages</a></li>
              <li><a href="/peptide.html?strains=Klebsiella_pneumoniae_phages">Klebsiella pneumoniae phages</a></li>
              <li><a href="/peptide.html?strains=Acinetobacter_baumannii_phages">Acinetobacter baumannii phages</a></li>
			  <li><a href="/peptide.html?strains=Pseudomonas_aeruginosa_phages">Pseudomonas aeruginosa phages</a></li>
			  <li><a href="/peptide.html?strains=Escherichia_coli_phages">Escherichia coli phages</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Analysis<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/predict.html">Peptides activity Prediction</a></li>
                <li><a href="/phylotree.html">Peptides Phylogenetic tree</a></li>
                <li><a href="/property.html">Physicochemical property</a></li>
            </ul>
        </li>
        <li><a href="/statistics.html">Statistics</a></li>
        <li><a href="/download.html">Download</a></li>
        <li><a href="/help.html">Help</a></li>
      </ul>
    </div>
  </nav>
<!-- Page Content-->
<br>
<br>
<h3 style="text-align:center">Calculation for Peptides activity</h3><br>
<div class="container">
   <div class = "well" style="font-size: 16px;">
    <p><i class = "fa fa-info-circle"></i>
        Here, we provide online calculation for peptides activity
    </p><br>
    <p><i class = "fa fa-info-circle"></i>
        Type or copy/paste the query protein sequences into the input box at the center,or upload a FASTA file.
        These input sequence should be in the FASTA format. Example sequences in FASTA format can be get by clicking on the "example" button;
        Click on the "submit" button to see the predicted result. You will see the outcomes shown on the screen of your computer.
		</p>
    <p><b>Please input query sequences:</b></p>
		<fieldset  align="center">
			<br>
			<input type="radio" name="preType" value="ly" checked="checked" style="font-size: 14px;"> Calculation for Peptides activity</input>&nbsp;&nbsp;
		</fieldset>
		<br>
		<textarea id="enter" name="enter" style="width: 780px;height: 270px; border:1px solid #46c8ef;margin-left: 50px"></textarea><!--序列输入框-->
      <p style="font:bold 14px Arial, Arial, Sans-Serif;color:#6d6d6d;display: inline-block;margin-left: 45px">  Or upload a Fasta file:&nbsp;&nbsp;
          <input name="uploadfile" type="file" id="upload_input" name="upload_input" style="width: 160px;"/>
          <br>
          <button id="btn_uploadimg">Update</button>
      </p>

		<fieldset class="seb-submit" style="margin-left: 166px; width:730px;border:0px;"><!--三个按钮健-->&nbsp;&nbsp;
		<input type="submit" value="submit" onclick="input_cal()"></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="button" value="example" onclick="fillExample()" name = "example"></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="reset" value="clear" onclick="resetInput()"></input>
		</fieldset>
  </div>

    <div id="loading"></div>
    <style>
        .aligncenter {
            clear: both;
            display: block;
            margin: auto;
        }
    </style>
    <br>
    <br>
    <br>
    <div class="container" id="table"></div>
    <br>
    <br>
    <script type="text/javascript">

        function input_cal(){
          function sleep(n) { //n表示的毫秒数
            var start = new Date().getTime();
            while (true) if (new Date().getTime() - start > n) break;
          }
          
          function fileExists(url) {
                 var isExists;
                 $.ajax({
                     url: url,
                     async: false,
                     type: 'HEAD',
                     error: function () {
                         isExists = 0;
                     },
                     success: function () {
                         isExists = 1;
                     }
                 });
                 if (isExists == 1) {
                     return true;
                 } else {
                     return false;
                 }
            }
        
           //获取 输入框的值
           var seq = document.getElementById("enter").value;
           console.log(seq);

           dat = {"seq": seq};
           console.log(dat);
           $.ajax({
               url: "http://113.57.10.23:9000/input_up_file/",
               data: dat,
               type: "get",//一律用get请求
               dataType: "",
               beforeSend: function () {
                   $("#loading").html("<h4 style='text-align:center'>Please wait!!!</h4><img src='../static/image/loading.gif' class='aligncenter'>")
                   $("#table").empty()
               },
               complete: function () {
                   $("#loading").empty()
               },
               error: function (response,status,xhr) {
                         console.log(response.status);
                         if(response.status == 408){
                             while(true){
                                 var Exists=fileExists('http://113.57.10.23:9000/static/predictdata/result-act-json.txt');
                                 console.log(Exists);
                                 if(Exists){
                                   $("#table").html('<h4 style="text-align:center">Result</h4><table class="table table-bordered table-hover" id="peptides" width="100%"><thead><tr><th>ID</th><th>ORF</th><th>Sequence</th><th>Score</th></tr></thead><tbody></tbody></table>')
      
                                  $('#peptides').DataTable({
                                          //"retrieve": true,
                                          //"serverSide":true,
                                          "searching":true,
                                          "processing":true,
                                          "paging":true,
                                          //"bServerSide":true,
                                          //"bProcessing":true,
                                          // "bPaginate":true,
                                          "ordering":true,
                                          ajax: {
                                              url: 'http://113.57.10.23:9000/static/predictdata/result-act-json.txt',
                                              timeout: 60000,
                                              type: "GET"
                                          },
                                          dom:'Bfrtip',
                                          buttons:[
                                            'copy','csv','excel','pdf','print'
                                          ],
                                          "columns":[
                                            {'data':'ID'},
                                            {'data':'ORF'},
                                            {'data':'Sequence'},
                                            {'data':'Score'}
                                          ],
                                      });
                                      break;
                                 }
                                 else{
                                   sleep(1000);
                                 }
                             
                             }
                         }
                       else{
                         alert("Please check your file format: Fasta!!!")
                       }  
                     },
               success: function (result) {
                   console.log(result);
                   $("#table").html('<h4 style="text-align:center">Result</h4><table class="table table-bordered table-hover" id="peptides" width="100%"><thead><tr><th>ID</th><th>ORF</th><th>Sequence</th><th>Score</th></tr></thead><tbody></tbody></table>')
                   

                   $('#peptides').DataTable({
                                //"retrieve": true,
                                //"serverSide":true,
                                "searching":true,
                                "processing":true,
                                "paging":true,
                                //"bServerSide":true,
                                //"bProcessing":true,
                                // "bPaginate":true,
                                "ordering":true,
                                ajax: {
                                    url: 'http://113.57.10.23:9000/static/predictdata/result-act-json.txt',
                                    timeout: 60000,
                                    type: "GET"
                                },
                                dom:'Bfrtip',
                                buttons:[
                                  'copy','csv','excel','pdf','print'
                                ],
                                "columns":[
                                  {'data':'ID'},
                                  {'data':'ORF'},
                                  {'data':'Sequence'},
                                  {'data':'Score'}
                                ],
                            })
               },
           })
        }

        $("#btn_uploadimg").click(function () {
        var fileObj = document.getElementById("upload_input").files[0]; // js 获取文件对象

        var formFile = new FormData();
        formFile.append("action", "UploadVMKImagePath");
        formFile.append("file", fileObj); //加入文件对象

        var form_data = formFile;

        if(typeof(fileObj)=='undefined'){
            alert("Please add your Fasta file!!")
        }else {
              function sleep(n) { //n表示的毫秒数
                var start = new Date().getTime();
                while (true) if (new Date().getTime() - start > n) break;
              }
          
              function fileExists(url) {
                     var isExists;
                     $.ajax({
                         url: url,
                         async: false,
                         type: 'HEAD',
                         error: function () {
                             isExists = 0;
                         },
                         success: function () {
                             isExists = 1;
                         }
                     });
                     if (isExists == 1) {
                         return true;
                     } else {
                         return false;
                     }
                }
        
             $.ajax({
                    url: "http://113.57.10.23:9000/up_file/",
                    data: form_data,
                    type: "post",
                    dataType: "text",
                    cache: false,//上传文件无需缓存
                    processData: false,//用于对data参数进行序列化处理 这里必须false
                    contentType: false, //必须
                    beforeSend:function(){
                        $("#loading").html("<h4 style='text-align:center'>Please wait!!!</h4><img src='../static/image/loading.gif' class='aligncenter'>")
                        $("#table").empty()
                    },
                    complete:function(){
                        $("#loading").empty()
                    },
                  error: function (response,status,xhr) {
                         console.log(response.status);
                         if(response.status == 408){
                             while(true){
                                 var Exists=fileExists('http://113.57.10.23:9000/static/predictdata/result-act-json.txt');
                                 console.log(Exists);
                                 if(Exists){
                                   $("#table").html('<h4 style="text-align:center">Result</h4><table class="table table-bordered table-hover" id="peptides" width="100%"><thead><tr><th>ID</th><th>ORF</th><th>Sequence</th><th>Score</th></tr></thead><tbody></tbody></table>')
      
                                  $('#peptides').DataTable({
                                          //"retrieve": true,
                                          //"serverSide":true,
                                          "searching":true,
                                          "processing":true,
                                          "paging":true,
                                          //"bServerSide":true,
                                          //"bProcessing":true,
                                          // "bPaginate":true,
                                          "ordering":true,
                                          ajax: {
                                              url: 'http://113.57.10.23:9000/static/predictdata/result-act-json.txt',
                                              timeout: 60000,
                                              type: "GET"
                                          },
                                          dom:'Bfrtip',
                                          buttons:[
                                            'copy','csv','excel','pdf','print'
                                          ],
                                          "columns":[
                                            {'data':'ID'},
                                            {'data':'ORF'},
                                            {'data':'Sequence'},
                                            {'data':'Score'}
                                          ],
                                      });
                                      break;
                                 }
                                 else{
                                   sleep(1000);
                                 }
                             
                             }
                         }
                       else{
                         alert("Please check your file format: Fasta!!!")
                       }  
                     },
                    success:function(result) {
                         $("#table").html('<h4 style="text-align:center">Result</h4><table class="table table-bordered table-hover" id="peptides" width="100%"><thead><tr><th>ID</th><th>ORF</th><th>Sequence</th><th>Score</th></tr></thead><tbody></tbody></table>')

                        $('#peptides').DataTable({
                                //"retrieve": true,
                                //"serverSide":true,
                                "searching":true,
                                "processing":true,
                                "paging":true,
                                //"bServerSide":true,
                                //"bProcessing":true,
                                // "bPaginate":true,
                                "ordering":true,
                                ajax: {
                                    url: 'http://113.57.10.23:9000/static/predictdata/result-act-json.txt',
                                    timeout: 60000,
                                    type: "GET"
                                },
                                dom:'Bfrtip',
                                buttons:[
                                  'copy','csv','excel','pdf','print'
                                ],
                                "columns":[
                                  {'data':'ID'},
                                  {'data':'ORF'},
                                  {'data':'Sequence'},
                                  {'data':'Score'}
                                ],
                            })
                    },
             })
        }
    })

    function pre(){
　　 //判断单选框是否选中
　　 var pre = document.getElementsByName("preType");
　　 var flag = 0;
　　 for(var i=0;i<pre.length;i++) {
　　 　　 if(pre.item(i).checked == true) {
　　 　　 　　 flag = 1;
			   var ss = $(pre.item(i)).val();
　　 　　 　　 return ss;
　　 　　 }
　　 }
　　 if (!flag) {
　　 　　 alert("Please ");
　　 }
}

    var fillExample=function(){
	var ss = pre();
	console.log(ss);
	if(ss == 'ly'){
		var b1=document.getElementById("enter");
		b1.value = ">peptide1\nYRGLKWRLQWLLRKCRKLVQ\n>peptide2\nWRGKKWRLQWLLRKCRKLVQ\n>peptide3\nRKQNWTEMCNRITDWDMGGKYRGLTIRKQSQSRESQ";
	    }
    }

    var resetInput=function(){
	document.getElementById('enter').value='';
	//document.getElementById('enter2').value='';
	document.getElementById('upload_input').value='';
	}

    var checkInput=function() {
	// <!-- 检查序列输入 -->
	var seq1=document.getElementById('enter').value;
	//var seq2=document.getElementById('enter2').value;
	var fil=document.getElementById('upload_input').value;
	if (seq1=='' && fil==''){
		window.alert("Please upload a file containing a or more DNA sequences!");
		form1.enter.focus();
		return false;
		}
	if (seq1.charAt(0)!=">"&& fil==''){
		alert("The input is not in Fasta format. Please see the example and input again!");
		form1.enter.focus();
		return false;
		}

	if (seq1!='' && fil!=''){
		window.alert("The input sequences conflict with uploaded file!");
		form1.enter.focus();
		return false;
		}
	return true;
	}
    </script>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Firefox & Chrome recommended.<br />
      &copy; All rights reserved by <a target="_blank" href="https://lijinquanlab.github.io/index.html">Jinquan Li's Lab</a>, HZAU.</p>
  </div>
</footer>
<script type="text/javascript">


</script>
</body> 
</html> 