<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ESKtides</title>

    <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <script type="text/javascript" src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css">
    <link rel="stylesheet" type="text/css" href="../static/css/eskape.css">
</head>

<style type="text/css">
    .pace .pace-progress {
      background: #1E92FB; /*进度条颜色*/
      height: 3px;
    }
    .pace .pace-progress-inner {
      box-shadow: 0 0 10px #1E92FB, 0 0 5px     #1E92FB; /*阴影颜色*/
    }
    .pace .pace-activity {
      border-top-color: #1E92FB;    /*上边框颜色*/
      border-left-color: #1E92FB;    /*左边框颜色*/
    }

    #navbar a{
      color: #FAFAFA;
    }
    div {
      text-align: justify;
    }
</style>

<body>
 <img src='../static/image/ESKtides.png'>
  <!--Navigator-->
  <nav class="navbar navbar-inverse navbar-static-top bg-dark">
    <div class="container">
      <div class="navbar-header">
           <a class="navbar-brand" href="/ESKtides">ESKtides</a>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
       <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li><a href="/ESKtides">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Browse Genome<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li class="dropdown-header">ESKAPE strains</li>
              <li><a href="/strains1.html?strains=Staphylococcus_aureus">Staphylococcus aureus</a></li>
              <li><a href="/strains1.html?strains=Enterococcus_Faecium">Enterococcus Faecium</a></li>
              <li><a href="/strains1.html?strains=Klebsiella_pneumoniae">Klebsiella pneumoniae</a></li>
              <li><a href="/strains1.html?strains=Acinetobacter_baumannii">Acinetobacter baumannii</a></li>
			  <li><a href="/strains1.html?strains=Pseudomonas_aeruginosa">Pseudomonas aeruginosa</a></li>
			  <li><a href="/strains1.html?strains=Enterobacter_aerogenes">Enterobacter aerogenes</a></li>
			  <li><a href="/strains1.html?strains=Enterobacter_cloacae">Enterobacter cloacae</a></li>
			  <li><a href="/strains1.html?strains=Escherichia_coli">Escherichia coli</a></li>


              <li class="divider"></li>
              <li class="dropdown-header">ESKAPE phages</li>
			  <li><a href="/strains1.html?strains=Staphylococcus_aureus_phages">Staphylococcus aureus phages</a></li>
              <li><a href="/strains1.html?strains=Enterococcus_Faecium_phages">Enterococcus Faecium phages</a></li>
              <li><a href="/strains1.html?strains=Klebsiella_pneumoniae_phages">Klebsiella pneumoniae phages</a></li>
              <li><a href="/strains1.html?strains=Acinetobacter_baumannii_phages">Acinetobacter baumannii phages</a></li>
			  <li><a href="/strains1.html?strains=Pseudomonas_aeruginosa_phages">Pseudomonas aeruginosa phages</a></li>
			  <li><a href="/strains1.html?strains=Escherichia_coli_phages">Escherichia coli phages</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Browse Peptides<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li class="dropdown-header">ESKAPE strains</li>
              <li><a href="/peptide.html?strains=Staphylococcus_aureus">Staphylococcus aureus</a></li>
              <li><a href="/peptide.html?strains=Enterococcus_Faecium">Enterococcus Faecium</a></li>
              <li><a href="/peptide.html?strains=Klebsiella_pneumoniae">Klebsiella pneumoniae</a></li>
              <li><a href="/peptide.html?strains=Acinetobacter_baumannii">Acinetobacter baumannii</a></li>
			  <li><a href="/peptide.html?strains=Pseudomonas_aeruginosa">Pseudomonas aeruginosa</a></li>
			  <li><a href="/peptide.html?strains=Enterobacter_aerogenes">Enterobacter aerogenes</a></li>
			  <li><a href="/peptide.html?strains=Enterobacter_cloacae">Enterobacter cloacae</a></li>
			  <li><a href="/peptide.html?strains=Escherichia_coli">Escherichia coli</a></li>


              <li class="divider"></li>
              <li class="dropdown-header">ESKAPE phages</li>
			  <li><a href="/peptide.html?strains=Staphylococcus_aureus_phages">Staphylococcus aureus phages</a></li>
              <li><a href="/peptide.html?strains=Enterococcus_Faecium_phages">Enterococcus Faecium phages</a></li>
              <li><a href="/peptide.html?strains=Klebsiella_pneumoniae_phages">Klebsiella pneumoniae phages</a></li>
              <li><a href="/peptide.html?strains=Acinetobacter_baumannii_phages">Acinetobacter baumannii phages</a></li>
			  <li><a href="/peptide.html?strains=Pseudomonas_aeruginosa_phages">Pseudomonas aeruginosa phages</a></li>
			  <li><a href="/peptide.html?strains=Escherichia_coli_phages">Escherichia coli phages</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Analysis<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/predict.html">Peptides activity Prediction</a></li>
                <li><a href="/phylotree.html">Peptides Phylogenetic tree</a></li>
                <li><a href="/property.html">Physicochemical property</a></li>
            </ul>
        </li>
        <li><a href="/statistics.html">Statistics</a></li>
        <li><a href="/download.html">Download</a></li>
        <li><a href="/help.html">Help</a></li>
      </ul>
    </div>
  </nav>
<!-- Page Content-->
<br>
<br>
<!-- Page Content-->
<div class="container">
   <h3 style="text-align:left">About ESKtides</h3>
    <br>
   <div class = "well" style="font-size: 16px;">
       <h4>What is ESKtides:</h4>
       <br>
        <p><i class = "fa fa-info-circle"></i>
            ESKtides is a comprehensive database on ESKAPE derived peptides.
            We systematically incorporating all public ESKAPE genome datasets with strains and phages samples,
            as well as related datasets are <b>NCBI</b>, <b>phageDB</b>, <b>MVP</b>, <b>Virus-Host</b> and <b>phast</b> (<em>Enterococcus faecium,
            Staphylococcus aureus, Klebsiella pneumoniae, Acinetobacter baumannii, Pseudomonas aeruginosa,
            Escherichia coli, Enterobacter cloacae, Enterococcus faecium Enterobacter aerogenes</em> and their phages).
            In total, we re-annotate <b>5,630</b> ESKAPE strains and <b>1,179</b> ESKAPE phages by curating high-throughput datasets from those strains.
            We defined active ESKAPE derived peptides with Deeplearning method(LSTM) in each group as active peptides. Among them,
            there are <b>22,091,402</b> active peptides in our database from strains and phages. We also provide online prediction as our tools.
            Combined the final information, we found <b>12,067,248</b> active peptides are high level.
        </p>
        <br>
        <p><i class = "fa fa-info-circle"></i>
            In ESKtides, users can:<br><br>
            <div style="text-indent: 2em;">
            <ui>
                <li>Browse or search ESKAPE strains and phages annotation and filter by user-defined;</li>
                <li>Browse or search ESKAPE derived peptides and find out peptides sequences;</li>
                <li>Online tools for peptides mining, peptides phylogenetic tree and peptides chemical properties;</li>
                <li>Download the ESKtides analysis results of a total of ESKAPE datasets both in strains and phages.</li>
                <li>Download page contains the different levels ESKAPE drived peptides in ESKAPE strains and phages.</li>
            </ui>
            </div>
        </p>
    </div>
</div>
<hr>
<div class="container">
    <h3 style="text-align:left">ESKtides data table</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Item</th>
      <th scope="col">Strains</th>
      <th scope="col">Phages</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Staphylococcus aureus</td>
      <td>1,132</td>
      <td>189</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Enterococcus Faecium</td>
      <td>320</td>
      <td>94</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Klebsiella pneumoniae</td>
      <td>1,901</td>
      <td>137</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Acinetobacter baumannii</td>
      <td>539</td>
      <td>65</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Pseudomonas aeruginosa</td>
      <td>656</td>
      <td>276</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Enterobacter aerogenes</td>
      <td>104</td>
      <td>0</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Enterobacter cloacae</td>
      <td>57</td>
      <td>0</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Escherichia coli</td>
      <td>921</td>
      <td>418</td>
    </tr>
  </tbody>
</table>
</div>
<hr>

<div class="container">
    <h3 style="text-align:left">ESKtides data summary</h3>
    <br>
    <br>
    <div id="fig1" style="height: 550%"></div>

    <script type="text/javascript">
        var dom = document.getElementById('fig1');
        var myChart = echarts.init(dom, null, {
          renderer: 'canvas',
          useDirtyRect: false
        });
        var app = {};

        var option;

        const data1 = [
      {
        name: 'Acinetobacter baumannii',
        value: 540
      },
      {
        name: 'Pseudomonas aeruginosa',
        value: 656
      },
      {
        name: 'Staphylococcus aureus',
        value: 1132
      },
      {
        name: 'Klebsiella pneumoniae',
        value: 1901
      },
      {
        name: 'Escherichia coli',
        value: 3038
      },
      {
        name: 'Enterobacter cloacae',
        value: 57
      },
      {
        name: 'Enterococcus faecium',
        value: 321
      },
      {
        name: 'Enterobacter aerogenes',
        value: 104
      }
    ];

    const data2 = [
      {
        name: 'Acinetobacter baumannii phage',
        value: 540
      },
      {
        name: 'Pseudomonas aeruginosa phage',
        value: 656
      },
      {
        name: 'Staphylococcus aureus phage',
        value: 1132
      },
      {
        name: 'Klebsiella pneumoniae phage',
        value: 1901
      },
      {
        name: 'Escherichia coli phage',
        value: 3038
      },
      {
        name: 'Enterobacter cloacae phage',
        value: 57
      },
      {
        name: 'Enterococcus faecium phage',
        value: 321
      },
      {
        name: 'Enterobacter aerogenes phage',
        value: 104
      }
    ];

    option = {
      title: [
        {
          text: 'Data summary',
          left: 'center',
          top: 0
        },
        {
          subtext: 'ESKAPE Strains',
          left: '25%',
          top: '80%',
          textAlign: 'center'
        },
        {
          subtext: 'ESKAPE Phages',
          left: '75%',
          top: '80%',
          textAlign: 'center'
        },
        {
          subtext: 'ESKAPE Strains legend',
          left: '15%',
          top: '2%',
          textAlign: 'center'
        },
        {
          subtext: 'ESKAPE Phages legend',
          left: '12%',
          top: '85%',
          textAlign: 'center'
        }
      ],

      legend: [
        {
          text: "Strains legend",
          data: data1,
          orient: 'horizontal',
          x:'right',
          y:'8%',
        },
        {
          text: "Phages legend",
          data: data2,
          orient: 'horizontal',
          x:'right',
          y:'92%',
        }
      ],

      series: [
        {
          type: 'pie',
          radius: '50%',
          center: ['50%', '50%'],
          data: data1,
          label: {
            position: 'outer',
            alignTo: 'none',
            bleedMargin: 5
          },
          left: 0,
          right: '50%',
          top: '2%',
          bottom: 0
        },
        {
          type: 'pie',
          radius: '50%',
          center: ['50%', '50%'],
          data: data2,
          label: {
            position: 'outer',
            alignTo: 'edge',
            margin: 20
          },
          left: '50%',
          right: 0,
          top: '2%',
          bottom: 0
        }
      ]
    };

        if (option && typeof option === 'object') {
          myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);
  </script>
</div>
<br>
<br>
<hr>
 <div class="container">
    <h3 style="text-align:left">ESKtides peptides table</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Item</th>
      <th scope="col">Strains derived peptides</th>
      <th scope="col">Phages derived peptides</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Staphylococcus aureus</td>
      <td>345,260</td>
      <td>256,255</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Enterococcus Faecium</td>
      <td>552,969</td>
      <td>123,647</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Klebsiella pneumoniae</td>
      <td>2,199,679</td>
      <td>116,563</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Acinetobacter baumannii</td>
      <td>1,100,829</td>
      <td>101,998</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Pseudomonas aeruginosa</td>
      <td>902,600</td>
      <td>234,596</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Enterobacter aerogenes</td>
      <td>588,854</td>
      <td>0</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Enterobacter cloacae</td>
      <td>1,401,037</td>
      <td>0</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Escherichia coli</td>
      <td>2,690,162</td>
      <td>431,252</td>
    </tr>
  </tbody>
</table>
</div>
<hr>
<br>
<div class="container">
    <h3 style="text-align:left">ESKtides peptides summary</h3>
    <br>
    <br>
    <div id="fig2" style="height: 500%"></div>
    <br>
    <div id="fig3" style="height: 500%"></div>
    <script>
        var dom = document.getElementById('fig2');
        var myChart = echarts.init(dom, null, {
          renderer: 'canvas',
          useDirtyRect: false
        });
        var app = {};

        var option;

        option = {
      legend: { y: '3%', x:'right'},
      dataset: {
        source: [
          ['Level', '>0.9', '0.5-0.9', '<0.5'],
          ['Acinetobacter baumannii', 593577, 507252, 2976555],
          ['Enterobacter aerogenes', 313257, 275597, 1661056],
          ['Enterobacter cloacae', 728011, 673026, 3881236],
          ['Enterococcus faecium', 284759, 268210, 1762521],
          ['Escherichia coli', 1524893, 1165269, 6571212],
          ['Klebsiella pneumoniae', 1203077, 996602, 5786697],
          ['Pseudomonas aeruginosa', 475209, 427391, 2285830],
          ['Staphylococcus aureus', 190799, 154461, 827507]
        ]
      },
      title: [
          {
            text: 'ESKAPE derived peptides activity level summary ',
            left: 'center',
            top: 0
          },
          {
              subtext: 'ESKAPE Strains derived peptides',
              left: '50%',
              top: '3%',
              textAlign: 'center'
          },
      ],
      xAxis: {
        type: 'category',
        axisLabel: {
         rotate:15
        }
      },
      yAxis: {},
      tooltip: {
        trigger: 'item',
        formatter: '{b} :<br>Activity level {a}'
      },
      // Declare several bar series, each will be mapped
      // to a column of dataset.source by default.
      series: [{ type: 'bar' }, { type: 'bar' }, { type: 'bar' }]
    };

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);


    var dom = document.getElementById('fig3');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};

    var option;

    option = {
          legend: { y: '3%', x:'right'},
          dataset: {
            source: [
              ['Level', '>0.9', '0.5-0.9', '<0.5'],
              ['Acinetobacter baumannii phages', 61601, 40397, 174932],
              ['Enterococcus faecium phages', 62183, 61464, 317623],
              ['Escherichia coli phages', 245012, 186240, 881758],
              ['Klebsiella pneumoniae phages', 67590, 48973, 231602],
              ['Pseudomonas aeruginosa phages', 134908, 99688, 493099],
              ['Staphylococcus aureus phages', 148638, 107617, 523505]
            ]
          },
          title: [
              {
                  subtext: 'ESKAPE phages derived peptides',
                  left: '50%',
                  top: '2%',
                  textAlign: 'center'
              },
          ],
          xAxis: {
            type: 'category',
            axisLabel: {
             rotate:15
            }
          },
          yAxis: {},
          tooltip: {
            trigger: 'item',
            formatter: '{b} :<br>Activity level {a}'
          },
          // Declare several bar series, each will be mapped
          // to a column of dataset.source by default.
          series: [{ type: 'bar' }, { type: 'bar' }, { type: 'bar' }]
        };

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
    </script>
</div>
<br>
<br>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Firefox & Chrome recommended.<br />
      &copy; All rights reserved by <a target="_blank" href="https://lijinquanlab.github.io/index.html">Jinquan Li's Lab</a>, HZAU.</p>
  </div>
</footer>

</body> 
</html> 