<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <h1>dadas</h1>
     <div>
         <table>
             <tr>
                 <th>UserID</th>
                 <th>Gender</th>
                 <th>Age</th>
                 <th>Occupation</th>
                 <th>Zip-code</th>
             </tr>

             {% for row in data %}
                 <tr>
                     <td>{{ row[0] }}</td>
                     <td>{{ row[1] }}</td>
                     <td>{{ row[2] }}</td>
                     <td>{{ row[3] }}</td>
                     <td>{{ row[4] }}</td>
                 </tr>
             {% endfor %}


         </table>
     </div>
</body>
</html>