{% extends "index.html" %}

<head>
    <title>Graph</title>
</head>

<body>
{% block content %}

       <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About me</h2>
          <p>Personal skills</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              A data worker who are interested in Machine learning , NGS , Mathematical model and Database
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Mathematical modeling</li>
              <li><i class="ri-check-double-line"></i> Next-generation sequencing technology</li>
              <li><i class="ri-check-double-line"></i> Programming</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Interested in statistical modeling and machine learning, Currently mainly responsible for data analysis of RNA-seq and scRNA-seq.
                I have a strong interest in analysis methods and software algorithms in data analysis and friends with the same interests are welcome to discuss together

            </p>
          </div>
        </div>

      </div>
    </section>
    <div id="container" style="width: 1200px; height: 900px; margin: 0 auto"></div>
    <script language="JavaScript">
        $(document).ready(function() {
            var chart = {
                type: 'bar'
            };
            var title = {
                text: '小潤澤技能条',
                style:{
                    fontSize: '20px'
                }
            };
            var subtitle = {
                text: ''
            };
            var xAxis = {
                categories: ['HTML/CSS', 'Python', 'R', 'C', '机器学习','统计建模','NGS'],
                title: {
                    text: null
                },
                labels: {
                    style: {
                        fontSize: '18px'
                    }
                }
            };
            var yAxis = {
                min: 0,
                max:105,
                title: {
                    text: '能力分数',
                    align: 'high',
                    style: {
                        fontSize: '18px'
                    }
                },
                labels: {
                    overflow: 'justify',
                    style: {
                        fontSize: '18px'
                    }
                }
            };
            var tooltip = {
                valueSuffix: ' score'
            };
            var plotOptions = {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            };
            var legend = {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 10,
                y: 35,
                floating: true,
                borderWidth: 5.0,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true,
                itemStyle:{
                       fontSize: '16px'
                    }
            };
            var credits = {
                enabled: false
            };

            var series= [{
                name: '基础知识',
                data: [60, 73, 75, 55, 66, 70, 78]
            }, {
                name: '熟练情况',
                data: [53, 68, 70, 41, 60, 62, 75]
            }, {
                name: '实际应用',
                data: [58, 70, 72, 46, 62, 65, 80]
            }
            ];

            var json = {};
            json.chart = chart;
            json.title = title;
            json.subtitle = subtitle;
            json.tooltip = tooltip;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.series = series;
            json.plotOptions = plotOptions;
            json.legend = legend;
            json.credits = credits;
            $('#container').highcharts(json);
        });
</script>

{% endblock %}
</body>
