{% extends "index.html" %}

<head>
<title></title>
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/loading.js"></script>
</head>

<body>
{% block content %}
    <section>
         <div class="container">
             <p><h2>Data</h2></p>
         <div>
     <form method="post">
       <div class="div-right" align="right" style="float:right">
           <label>age_min:</label><input type="number" name="age_min" id="age_min"><br>
           <label>age_max:</label><input type="number" name="age_max" id="age_max"><br>
           <input type="submit" value="submit"><br>
       </div>
     </form>
  <div class="div-right">
   <form action="" method="post" autocomplete="off">
       <div class="row">
           <div class="col-6">
               <input type="text" class="form-control" name="tag" id="tag"  placeholder="Enter keyword"/>
           </div>
           <div class="div-right" align="right">
               <input id="btn" type="submit" value="Search" class="form-control btn btn-primary " name="">
           </div>
       </div>
   </form>
  </div>
 </div>

<div id="loading">
            <div class="gif">
                <img src="/static/img/loader.gif">
            </div>
</div>

<div>
  <br><br><br>

    <div class="col-12">
    <p><h3>example</h3></p>
     <script>
         $(function(){
             $('table').tablesorter({
                 widgets        : ['zebra', 'columns'],
                 usNumberFormat : false,
                 sortReset      : true,
                 sortRestart    : true
             });
         });
	</script>
        <table class="table" id="read">
            <thead>
            <tr>
                <th><input type="checkbox" onclick="checkAll(this)"></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
            </thead>
        <tbody>


  {% for employee in employees.items %}
  <tr>
                <td>{{ employee.id}}</td>
                <td><a href="/page_5/{{ employee.fullname }}">{{ employee.fullname}}</a></td>
                <td>{{ employee.position}}</td>
                <td>{{ employee.office}}</td>
                <td>{{ employee.age}}</td>
                <td>{{ employee.startdate}}</td>
                <td>{{ employee.salary}}</td>
  </tr>
  {% endfor %}
        </tbody>
  </table>
   <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if employees.has_prev %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('page_2', page=employees.prev_num) }}">Previous</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                    {% endif %}

     {% for page in employees.iter_pages(left_edge=3, right_edge=3) %}
     {% if page %}

      {% if page==employees.page %}
       <li class="page-item active"><a class="page-link" href="{{ url_for('page_2', page=page) }}">{{ page }}</a></li>
      {% else %}
       <li class="page-item"><a class="page-link" href="{{ url_for('page_2', page=page) }}">{{ page }}</a></li>
      {% endif %}

     {% else %}
      <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
     {% endif %}
     {% endfor %}

                    {% if employees.has_next %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('page_2', page=employees.next_num) }}">Next</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                    {% endif %}

                </ul>
    </nav>
 </div>
</div>
    </section>
{% endblock %}

<style>
table{
    width:100%;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
</style>
    <script>
        function checkAll(bx) {
              var cbs = document.getElementsByTagName('input');
              for(var i=0; i < cbs.length; i++) {
                   if(cbs[i].type == 'checkbox') {
                      cbs[i].checked = bx.checked;
                   }
              }
        }
    </script>
</body>

